<div class="centered-content">
    <div class="modal-box">
        <h1 class="title has-text-black py-10">
            Create a New List
        </h1>

        <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input has-background-light has-text-black" type="text" placeholder="Enter Title">
            </p>
            <p class="control">
              <button class="button is-primary has-text-white has-text-small">
                Create
              </button>
            </p>
        </div>
    </div>
</div>